.btn-primary {
  border: none;
  border-radius: 1px;
  background-color: transparent;
  font-size: xx-large;
}

body {
  background: linear-gradient(0.33turn, #3f87a6, #ebf8e1, #f69d3c, #561423);

}

a {
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}

a:hover {
  text-decoration: none;
  /* border-radius: 30%; */
  /* background-color: tomato; */
}

.card-body {
  font-size: medium;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

.navbar {
  background: linear-gradient(0.33turn, #3f87a6, #ebf8e1, #f69d3c, #561423);
}